.contact-section-one {
  display: flex;
  padding: 130px 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  gap: 30px;
}

.contact-section-one > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  height: 350px;
  gap: 20px;
}

.contact-section-one > div > div {
  background-color: var(--primary-red);
  width: 80px;
  color: white;
  font-size: 30px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.contact-section-one .h3 {
  font-size: 22px;
  color: #222244;
}

.contact-section-one .h5 {
  color: #9a9b9c;
  font-weight: 400;
  font-size: 16px;
  width: 65%;
  margin: 0px auto;
}

@media (max-width: 375px) {
    .contact-section-one {
        flex-direction: column;
        padding: 100px 20px;
    }
}
