.hero {
  display: flex;
  height: 100vh;
}

.hero__text,
.hero__img {
  flex: 1;
}
.hero__text {
  text-align: left;
  padding-left: 7em;
  /* padding-top: 10em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__text h1 {
  font-size: 6rem;
  margin-top: 0.6em;
  font-family: var(--main-font);
}

.hero__text button {
  margin-top: 3em;
}
