.hero {
  display: flex;
  min-height: 93vh;
  background: #1a1e5d;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
  }
}

.hero__text,
.hero__img {
  flex: 1;
}
.hero__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero__text {
  text-align: left;
  padding-left: 7em;
  /* padding-top: 10em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__text h1 {
  font-size: 6rem;
  margin-top: 0.6em;
  font-family: var(--main-font);
  color: #fff;
}

.hero__text button {
  margin-top: 3em;
}
