.hero {
  display: flex;
  min-height: 130vh;
  background: #1a1e5d;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
  }
}

.hero__text,
.hero__img {
  flex: 1;
}
.hero__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero__text {
  text-align: left;
  padding-left: 7em;
  /* padding-top: 10em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__text h1 {
  font-size: 7.5rem;
  margin-top: 0.6em;
  /* font-family: var(--main-font); */
  font-weight: inherit;
  color: #fff;
  font-weight: 500;
}

.hero__text button {
  margin-top: 3em;
}

.showGrid {
  display: grid;
  padding: 10px;
  gap: 30px;
  padding: 3em;
  grid-template-areas:
    "row1 row2 row2 row3"
    "row1 row2 row2 row3";
}

.showGrid__row {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.showGrid__row--1 {
  grid-area: row1;
}
.showGrid__row--2 {
  grid-area: row2;
}
.showGrid__row--3 {
  grid-area: row3;
}
