.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2em 10%;
  box-shadow: 0 3px 5px #0007;
  position: relative;
  z-index: 4;
}

.links {
  display: flex;
  align-items: center;
  gap: 1em;
  list-style: none;
}

.link {
  color: #444;
  font-weight: bold;
  transition: all 200ms;
  font-size: 1.1rem;
}
.link:hover {
  color: var(--primary-red);
  font-weight: bold;
}

.buttonSet {
  display: flex;
  gap: 10px;
}
